.table-hover{
  font-size: 20px;
  color:#4e4e50;
  border-collapse: separate;
border-spacing: 0 5px;

}

.btn-success {
  
  color: #5C9C35;
  border:#577C19;
  border: thin solid;
  border-radius: 9px;
  background-color: #fff;
}



/* .page1{
  background-color: #E3ECFB;
} */

td{
  color: #637381;
  background-color: #DDEDF8;
  font-size: 16px;

}

.Reason{
  padding: 5px 16px;
  border-radius: 4px;
  border: 2px solid #53ADE4;
}

th{
  background-color: #EDEEEE;
  color: #212B36;
  font-size: 18px;
  
}



.title{
  color:#4F5152;
  text-align: left;
 
  background-color: #DDEDF8;
  border-radius: 25px;
    padding: 20px; 
    height: 80px;
    width: 1150px;
    font-size: 25px;
  }

  .createchap{
      font-size: 19px;
      color: #000000;
      
  }

 input[type="text"]{
  width: 67.5%;
  padding: 5px 16px;
  border-radius: 4px;
  border: 2px solid #53ADE4;

 
  box-sizing: border-box;
  font-size: 15px;
  height: 44px;
  line-height: 40px;
  font-family: inherit;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  -moz-appearance: none;
  appearance: none;
 }


 /* .btn-primary{
  color: #3056D3;
  border:#3056D3;
  border: thin solid;
  border-radius: 9px;
  background-color: #DDEDF8;
}

.btn-danger{
  
  color: #E23529;
  border:#E23529;
  border: thin solid;
  border-radius: 9px;
  background-color: #DDEDF8;
} */


img{

  width: 250px;  
  float:right;   

}

.optionlist{

  padding: 5px 16px;
  border-radius: 4px;
  border: 2px solid #53ADE4;
  color: #637381;
  background-color: #ffffff;
  font-size: 16px;
 
}
option{
  background-color: #DDEDF8;
}

.shifting{
  margin-top: 0px;
  margin-left: 370px;
}

h4{
  color: #696161;
}
.form-check-label{
  font-size: 16px;
  font-family: inherit;
  color: #454545;

}

.joballocate{
  width: 450px;  
}

p{
  color:#616161;
  font-size: 22;
  text-align: center;
  font-family: 'Courier New', monospace;
}

h1{
color:#4F5152;
text-align: left;
font-family: 'Monaco';
background-color: #DDEDF8;
border-radius: 25px;
  padding: 20px; 
  height: 35px;
}

.img12{
  width: 80px;
  border-radius: 50%;
  display: block;
   margin-left: auto;
  margin-right: auto;
  
}
.page{
 
  background-color:#C7E3F4;
  border-radius: 25px;
  padding: 20px; 
  width: 700px;
  height: 360px; 
  position: absolute;
  left: 18%;
  top: 20%;
  
}


